* {
	margin: 0;
	padding: 0;
	border: 0;
}
body, html {
	height: 100%;
	width: 100%;
}
body {
	background: #F2F2F2;
	font-size: 100%;
}
header {
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 17%, #666666 87%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(17%,#595959), color-stop(87%,#666666), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 17%,#666666 87%,#666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 17%,#666666 87%,#666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 17%,#666666 87%,#666666 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 17%,#666666 87%,#666666 100%); /* W3C */
	border-bottom: 1px solid #333;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
	height: 3em;
	width: 100%;
}
header div {
	margin: 0 auto;
	padding: 0.6em;
	width: 150px;
}
header div h1 {
	color: #FFF;
	font-size: 1.5em;
	font-weight: bold;
}
#miboton {
	border: 1px solid #333;
	border-radius: 0.6em;
	height: 1.6em;
	margin: 0.4em auto;
	padding: 0.3em 0;
	cursor: pointer;
	text-align: center;
	width: 80%;
}